.ItemPage-StumpJumperExpert29 {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}


    .ProductPage-Header {
        width: 100%;
        height: 55px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .ProductPage-HeaderInner {
            width: 100%;
            height: 100%;
            max-width: 1920px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

            .ProductPage-HeaderTitle {
                font-size: 10px;
            }

    .StumpJumperExpert29Wrap {
      width: 100%;
    }





@media screen and (max-width: 1920px){
  .ProductPage-HeaderInner {
    max-width: 1700px;
  }
  .StumpJumperExpert29Wrap {
      max-width: 1700px;
  }
}

@media screen and (max-width: 1750px){
  .ProductPage-HeaderInner {
    max-width: 1500px;
  }
  .StumpJumperExpert29Wrap {
    max-width: 1500px;
  }
}

@media screen and (max-width: 1550px){
  .ProductPage-HeaderInner {
    max-width: 1200px;
  }
  .StumpJumperExpert29Wrap {
      max-width: 1200px;
  }
}

@media screen and (max-width: 1250px){
  .ProductPage-HeaderInner {
    max-width: 1000px;
  }
  .StumpJumperExpert29Wrap {
      max-width: 1000px;
  }
  
}

@media screen and (max-width: 1000px) {
    .ProductPage-HeaderTitle {
        padding-left: 20px;
    }
    .ProductPage-Header {
        height: 40px;
    }
    .StumpJumperExpert29Wrap {
      margin-top: 0;
    }
}


