.Inside-Family {
    width: 100%;
    height: 100vh;
    background: url('../../../Assets/Images/About/AboutHero.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding-right: 7%;
}

    .Inside-FamilyContent {
        width: 35%;
        color: #FFF;
        text-align: right;
    }

        .Inside-Family-Title {
            font-size: 40px;
            font-weight: 500;
            margin-bottom: 20px;
        }

        .Inside-Family-Text {
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            margin-bottom: 15px;
        }










@media screen and (max-width: 1000px){
    .Inside-FamilyContent {
        width: 50%;
    }
}

@media screen and (max-width: 600px){
    .Inside-Family {
        height: 70vh;
    }
    .Inside-FamilyContent {
        display: none;
    }
}

@media screen and (max-width: 450px){
    .Inside-Family {
        height: 60vh
    }
}
