.DownHillHero {
    width: 100%;
    height: 55vh;
    background: url('../../../Assets/Images/Downhill/DownHillHero.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

    .DownHillHero-Title {
        font-size: 40px;
        font-weight: 700;
        padding-left: 80px;
        color: #FFF;
    }





@media screen and (max-width: 800px){
    .DownHillHero {
        align-items: flex-end;
    }
    .DownHillHero-Title {
        padding-bottom: 50px;
        padding-left: 30px;
    }
}