.MobileNav {
    width: 100%;
    height: 70px;
    position: fixed;;
    top: 0;
    left: 0;
    z-index: 950;
    display: none;
}

    .MobileNavWrap {
        width: 100%;
        height: 100%;
        position: relative;
    }


//TopRow
    .MobileNav-TopRow {
        width: 100%;
        height: 25px;
        background-color: #141414;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }
        .MobileNav-ShippingOffer {
            color: #FFF;
            font-size: 10px;
            font-weight: 600;

        }


//BottomRow
    .MobileNav-BottomRow {
        width: 100%;
        height: 45px;
        background-color: #FFF;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }


//Left Icons
        .MobileNav-LeftIcons {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 70px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-left: 20px;
            transition: all .5s ease-in-out;
        }

            .MobileNav-LeftIcon {
                width: 18px;
                height: 18px;
                cursor: pointer;
            }

                .MobileNav-MenuIcon {
                    background: url('../../../Assets/Icons&Logos/FullNav/MenuIcon.svg');
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                }

                .MobileNav-SearchIcon {
                    background: url('../../../Assets/Icons&Logos/FullNav//SearchIcon.svg');
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                }


//Logo
        .MobileNav-Logo {
            height: 100%;
            width: 120px;
            text-align: center;
            background: url('../../../Assets/Icons&Logos/FullNav/SpecializedNavLogo.png');
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }


//Right Icons
        .MobileNav-RightIcons {
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            width: 70px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-right: 20px;
            transition: all .5s ease-in-out;
        }

            .MobileNav-RightIcon {
                width: 18px;
                height: 18px;
            }
        
                .MobileNav-UserIcon {
                    background: url('../../../Assets/Icons&Logos/FullNav/UserIcon.svg');
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                }

                .MobileNav-CartIcon {
                    background: url('../../../Assets/Icons&Logos/FullNav/ShoppingCartIcon.svg');
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                }



//SearchField
.MobileNav-SearchDrawer {
    width: 100%;
    height: 45px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    z-index: 5;
    transition: bottom .2s ease-in;
}

    .ActiveMobileSearch {
        bottom: -45px;
    }

    .MobileNav-SearchDrawerWrap {
        width: 90%;
        height:  80%;
    }

        .MobileNav-SearchForm {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

            .MobileNav-SearchField {
                width: 78%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }

                .MobileNav-SearchFieldInput {
                    width: 100%;
                    height: 100%;
                    border: none;
                    border-bottom: 1px solid #141414;
                    outline: none;
                    font-size: 18px;
                    font-weight: 500;
                    color: #141414;
                    padding: 0 10px;
                }

            .MobileNav-SearchButton {
                width: 15%;
                height: 100%;
                border: 1px solid #141414;
                outline: none;
                font-size: 14px;
                font-weight: 200;
            }
                .MobileNav-SearchButton:hover {
                    background-color: rgb(249, 249, 249);
                    cursor: pointer;
                }















@media screen and (max-width: 1000px){
    .MobileNav {
        display: block;
    }
}

@media screen and (max-width: 550px){
    .MobileNav-RightIcons {
        width: 60px;
        margin-right: 10px;
    }
    .MobileNav-LeftIcons {
        width: 60px;
        margin-left: 10px;
    }
    .MobileNav-SearchButton {
        width: 20%;
        font-size: 12px;
    }
}