.ProductPageBikes {
    width: 100%;
    position: relative;
}

.ProductPage-Header {
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ProductPage-HeaderInner {
    width: 100%;
    max-width: 1920px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.ProductPage-HeaderTitle {
    font-size: 12px;
    padding-left: 30px;
}

@media screen and (max-width: 1920px) {
    .ProductPage-HeaderInner {
        max-width: 1700px;
    }
}

@media screen and (max-width: 1750px) {
    .ProductPage-HeaderInner {
        max-width: 1500px;
    }
}

@media screen and (max-width: 1550px) {
    .ProductPage-HeaderInner {
        max-width: 1200px;
    }
}

@media screen and (max-width: 1250px) {
    .ProductPage-HeaderInner {
        max-width: 1000px;
    }
}

@media screen and (max-width: 1000px) {
    .ProductPage-HeaderTitle {
        padding-left: 20px;
    }
}
