.Carousel-EpicEVO {
    width: 100%;
    height: 55vh;
    padding: 0 20px;
    margin-top: 55px;
    position: relative;
    margin-bottom: 60px;
}

    .CarouselStyling {
        width: 100%;
        height: 100px;
        position: relative;
    }

        .EpicEVO-Slide1 {
            background: url('../../../../../Assets/Images/ProductItem/EpicEVO/EpicEvo-1.jpg');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .EpicEVO-Slide2 {
            background: url('../../../../../Assets/Images/ProductItem/EpicEVO/SWEpicEvo-2.jpg');
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }

        .EpicEVO-Slide3 {
            background: url('../../../../../Assets/Images/ProductItem/EpicEVO/SWEpicEvo-3.jpg');
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }

        .EpicEVO-Slide4 {
            background: url('../../../../../Assets/Images/ProductItem/EpicEVO/SWEpicEvo-4.jpg');
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }

        .EpicEVO-Slide5 {
            background: url('../../../../../Assets/Images/ProductItem/EpicEVO/SWEpicEvo-5.jpg');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .EpicEVO-Slide6 {
            background: url('../../../../../Assets/Images/ProductItem/EpicEVO/SWEpicEvo-6.jpg');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

    .Carousel-Button {
        border: none;
        background-color: transparent;
        position: absolute;
        left: 0;
        margin-left: 5%;
        width: 20px;
        height: 30px;
        background: url('../../../../../Assets/Icons&Logos/Carousel/ArrowLeft.svg');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin-top: 20px;
    }
    .Carousel-Button2 {
        border: none;
        padding: 0px 20px;
        position: absolute;
        right: 0;
        margin-right: 5%;
        background-color: transparent;
        width: 20px;
        height: 30px;
        background: url('../../../../../Assets/Icons&Logos/Carousel/ArrowRight.svg');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin-top: 20px;
    }

        .DotWrap {
            width: 100%;
            display: flex;
            justify-content: center;
            position: absolute;
            margin-top: 15px;


        }

            .DOT1 {
                width: 12px;
                height: 12px;
                border-radius: 50%;
                border: none;
                background-color: rgb(169, 169, 169);
                margin: 10px 10px;
            }






@media screen and (max-width: 1750px){
    .Carousel-EpicEVO{
        height: 30vw;
    }
}
@media screen and (max-width: 1550px){
    .Carousel-EpicEVO{
        height: 27vw;
    }
}
@media screen and (max-width: 1000px){
    .Carousel-EpicEVO{
        margin-top: 40px;
        height: 32vw;
    }
}

@media screen and (max-width: 600px){
    .Carousel-Button {
        width: 17px;
        height: 20px;
    }
    .Carousel-Button2 {
        width: 17px;
        height: 20px;
    }
    .DOT1 {
        width: 10px;
        height: 10px;
    }
}

