.HeroStumpJumperPro29 {
    width: 100%;
    height: 60vh;
    margin-top: 55px;
    background: url('../../../../../Assets/Images/ProductItem/StumpJumperPro29/StumpJumperPro29-Hero_.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}




@media screen and (max-width: 1000px){
    .HeroStumpJumperPro29 {
        margin-top: 40px;
        height: 35vw;
    }
}