.FullNav {
    width: 100%;
    height: 90px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 950;
}

    .FullNavWrap {
        width: 100%;
        height: 100%;
        position: relative;
    }

     .FullNav-RowWrap {
        width: 100%;
        height: 100%;
        max-width: 1920px;
        margin: 0 auto;
        position: relative;
    }
        .FullNav-RowWrap-Top {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .FullNav-RowWrap-Bottom {
        }


/* -- Top Row ------------- */
        .FullNav-TopRow {
            width: 100%;
            height: 35px;
            background-color: #141414;
            z-index: 10;
        }
            .FullNav-ShippingOffer {
                font-size: 10px;
                font-weight: 600;
                color: #FFF;
                margin-left: 20px;
            }

            .FullNav-TopUserToolsWrap {
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
                .FullNav-RetailerLink {
                   display: flex;
                   justify-content: space-between;
                   align-items: center;
                   width: 130px;
                   height: 100%; 
                   padding: 0 10px;
                   margin-right: 20px;
                   cursor: pointer;
                }
                    .FullNav-RetailerIcon {
                        width: 15px;
                        height: 15px;
                        background: url('../../../Assets/Icons&Logos/FullNav/LocationIcon.svg');
                        background-position: center;
                        background-size: contain;
                        background-repeat: no-repeat;
                    }

                    .FullNav-RetailerText {
                        font-size: 10px;
                        font-weight: 600;
                        color: #FFF;

                    }

                .FullNav-EnglishWrap {
                    width: 70px;
                    height: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0 10px;
                    margin-right: 20px;
                    cursor: pointer;
                }
                    .FullNav-FlagIcon {
                        width: 30px;
                        height: 15px;
                        background: url('../../../Assets/Icons&Logos/FullNav/AmericanFlagIcon.svg');
                        background-position: center;
                        background-size: contain;
                        background-repeat: no-repeat;
                    }
                    
                    .FullNav-EnglishText {
                        font-size: 10px;
                        font-weight: 600;
                        color: #FFF;
                    }

                .FullNav-SignInButton {
                    width: 110px;
                    height: 100%;
                    background-color: #4E4E4E;
                    color: #FFF;
                    font-size: 10px;
                    font-weight: 600;
                    color: #FFF;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                }
                    .FullNav-SignInButton:hover {
                        background-color: rgb(57, 57, 57);
                    }





/* -- Bottom Row ------------- */
        .FullNav-BottomRow {
            width: 100%;
            height: 55px;
            background-color: #FFF;
            position: relative;
            z-index: 10;
        }

            .FullNav-Logo {
                width: 150px;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                left: 0;
                top: 0;
                background: url('../../../Assets/Icons&Logos/FullNav/SpecializedNavLogo.png');
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                cursor: pointer;
            }

            .FullNav-LinkWrapper {
                text-align: center;
                height: 100%;
            }

                .FullNav-LinkList {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                    .FullNav-LinkItem {
                        padding: 0 40px;
                    }

                        .FullNav-Link {
                            font-size: 11px;
                            color: #141414;
                            font-weight: 600;
                            white-space: nowrap;
                        }
                            .FullNav-Link:hover {
                                color: #D32E2E;
                            }

            .FullNav-BottomUserToolsWrap {
                height: 100%;
                width: 100px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                position: absolute;
                right: 0;
                top: 0;
            }

                .FullNav-Icon {
                    width: 18px;
                    height: 18px;
                    cursor: pointer;
                }

                    .FullNav-Search {
                        background: url('../../../Assets/Icons&Logos/FullNav/SearchIcon.svg');
                        background-position: center;
                        background-size: contain;
                        background-repeat: no-repeat;
                    }

                    .FullNav-Cart {
                        background: url('../../../Assets/Icons&Logos/FullNav/ShoppingCartIcon.svg');
                        background-position: center;
                        background-size: contain;
                        background-repeat: no-repeat;
                    }

//SearchField
.FullNav-SearchDrawer {
    width: 100%;
    height: 55px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    z-index: 5;
    transition: bottom .2s ease-in;
}

    .ActiveSearch {
        bottom: -55px;
    }

    .FullNav-SearchDrawerWrap {
        width: 75%;
        height:  80%;
    }

        .FullNav-SearchForm {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

            .FullNav-SearchField {
                width: 88%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }

                .FullNav-SearchFieldInput {
                    width: 100%;
                    height: 100%;
                    border: none;
                    border-bottom: 1px solid #141414;
                    outline: none;
                    font-size: 18px;
                    font-weight: 500;
                    color: #141414;
                    padding: 0 10px;
                }

            .FullNav-SearchButton {
                width: 10%;
                height: 100%;
                border: 1px solid #141414;
                outline: none;
                font-size: 14px;
                font-weight: 200;
            }
                .FullNav-SearchButton:hover {
                    background-color: rgb(249, 249, 249);
                    cursor: pointer;
                }

       










@media screen and (max-width: 1920px){
    .FullNav-RowWrap {
        max-width: 1700px;
    }
}

@media screen and (max-width: 1750px){
    .FullNav-RowWrap {
        max-width: 1500px;
    }
}

@media screen and (max-width: 1550px){
    .FullNav-RowWrap {
        max-width: 1200px;
    }
}

@media screen and (max-width: 1250px){
    .FullNav-RowWrap {
        max-width: 1000px;
    }
}

@media screen and (max-width: 1000px){
    .FullNav {
        display: none;
    }
    .FullNav-RowWrap {
        margin-top: 60px;
    }
}