.FullFooter {
    width: 100%;
    height: 260px;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: -120px;
    display: flex;
    justify-content: center;
    background-color: #141414;
    color: #fff;
    z-index: 900;
}

.FullFooterWrapper {
    width: 100%;
    height: 100%;
    max-width: 1920px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 255px;
}

//LEFT SIDE
.FullFooter-Left {
    width: 245px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 60px;
}

.FullFooter-Form {
    display: flex;
    margin-bottom: 20px;
}

.FullFooter-FormInput {
    border: none;
    width: 180px;
    height: 42px;
    padding: 10px;
    background-color: #4e4e4e;
    color: #fff;
    font-size: 14px;
    outline: none;
}

.FullFooter-FormSubmit {
    width: 65px;
    height: 42px;
    background-color: #d32e2e;
    border: none;
    color: #fff;
    font-weight: 700;
    font-size: 12px;
    cursor: pointer;
}
.FullFooter-FormSubmit:hover {
    background-color: rgb(179, 39, 39);
}

.FullFooter-Left-Text {
    font-size: 12px;
    font-weight: 300;
    display: inline-block;
    margin: 5px 0;
}

.FullFooter-Terms {
    font-weight: 800;
    text-decoration: underline;
    cursor: pointer;
    display: inline-block;
}

.FullFooter-Terms:hover {
    color: rgb(201, 201, 201);
}

//CENTER
.FullFooter-Center {
    height: 30%;
    width: 100%;
    display: flex;
    align-items: top;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.FullFooter-CenterText {
    white-space: nowrap;
    margin: 0 10px;
    font-size: 10px;
    font-weight: 500;
    cursor: pointer;
}
.FullFooter-CenterText:hover {
    color: #d32e2e;
}

//RIGHT SIDE
.FullFooter-Right {
    width: 230px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 60px;
}

.FullFooter-Right-RetailerButton {
    width: 100%;
    height: 42px;
    margin-bottom: 20px;
    background-color: #4e4e4e;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.FullFooter-Right-RetailerButton:hover {
    background-color: rgb(57, 57, 57);
}

.FullFooter-SocialTags {
    width: 75%;
    height: 30px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.FullFooter-SocialTag {
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.FullFooter-SocialTag:hover {
    width: 32px;
    height: 32px;
}

.FullFooter-SocialTag1 {
    background: url("../../../Assets/Icons&Logos/Footer/TwitterIcon.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.FullFooter-SocialTag2 {
    background: url("../../../Assets/Icons&Logos/Footer/InstagramIcon.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.FullFooter-SocialTag3 {
    background: url("../../../Assets/Icons&Logos/Footer/FacebookIcon.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.FullFooter-SocialTag4 {
    width: 22px;
    height: 22px;
    background: url("../../../Assets/Icons&Logos/Footer/YoutubeIcon.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

//COPYRIGHTS
.FullFooter-CopyRightsWrap {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.FullFooter-CopyRightsTop {
    display: flex;
    justify-content: space-between;
}

.FullFooter-CopyRights-Text {
    font-size: 10px;
    font-weight: 600;
    color: #4e4e4e;
    margin: 0 5px;
    margin-bottom: 7px;
    cursor: pointer;
}
.FullFooter-CopyRights-Text:hover {
    color: rgb(99, 99, 99);
}

.FullFooter-CopyRights-Bottom {
    font-size: 10px;
    font-weight: 600;
    color: #4e4e4e;
    margin-bottom: 4px;
    white-space: nowrap;
}

.FullFooter-CopyRights-Bottom-ZE {
    width: auto;
    height: 50px;
}

.FullFooter-CopyRights-Bottom-ZE a {
    width: 100%;
}
.FullFooter-CopyRights-Bottom-ZE a p {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.FullFooter-CopyRights-Bottom-ZElogo {
    width: 50px;
    height: 50px;
    background: url("../../../Assets/Icons&Logos/Footer/ZE-logo-blu.svg");
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}

@media screen and (max-width: 1920px) {
    .FullFooterWrapper {
        max-width: 1700px;
    }
}

@media screen and (max-width: 1750px) {
    .FullFooterWrapper {
        max-width: 1500px;
    }
}

@media screen and (max-width: 1550px) {
    .FullFooterWrapper {
        max-width: 1200px;
    }
}

@media screen and (max-width: 1250px) {
    .FullFooterWrapper {
        max-width: 1000px;
    }
}

@media screen and (max-width: 1000px) {
    .FullFooter {
        display: none;
    }
}
